// *********** colors, shadows, fonts ***********
$color-white: #ffffff;
$color-gray: #cccccc;
$color-blue: #66a6ff;
$shadow-lighter: 0px 0px 40px 2px #eeeeee;
$shadow-darker: -8px 8px 56px 8px #cccccc;
$font-lato: "Lato", sans-serif;
// 400, 700, 900

// *********** colors, shadows, fonts ***********
