html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    /* this is important for responsive webpages, it takes empty space within the container and stretch it to 100% 
    -> by this you doesn`t have to put height (eg nav and article (childs) because it will spreaded itself
    */
}


header {
    background-color: #313638;
    min-height: 15vh;
    display: flex;
    align-items: center;
    padding-left: 5%;
}

nav {
    background-color: #f06543;
    min-width: 20vw;
    text-align: center;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
}

article {
    min-width: 80vw;
    padding: 2rem 5rem 0 5rem;
}

footer {
    background-color: #b3b3b3;
    min-height: 15vh;
    display: flex;
    align-items: center;
    padding-left: 5%;
}

h1 {
    border-bottom: 2px solid grey;
    font-weight: 700;
    font-size: 2rem;
    margin: 0;
}

header,
nav,
footer {
    color: white;
    font-weight: 700;
    font-size: 2rem;
}





/* POSSIBLE SOLUTION FROM CBP


html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #313638;
    color: white;
    font-size: 3rem;
    font-weight: 900;
    padding: 3.5rem;
    font-weight: bold;
}

main {
    display: flex;
    flex-grow: 1;
}

nav {
    background-color: #f06543;
    color: white;
    font-size: 3rem;
    font-weight: 900;
    padding: 3.5rem;
    font-weight: bold;
}

article {
    padding: 3.5rem 7em;
}

article h1 {
    font-size: 3rem;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 0;
    color: #424242;
    border-bottom: 3px solid #a2a2a2;
}

article p {
    color: #454545;
    font-size: 1.125rem;
    line-height: 1.5em;
}

footer {
    background-color: #b3b3b3;
    color: white;
    font-size: 3rem;
    font-weight: 900;
    padding: 3.5rem;
    font-weight: bold;
}
 */